---
layout: default
---

div#pitch-video
   p [Pitch video]

div#info-kandituur
   a(href="informatie_over_kandidaat_worden.html") Meer weten over kandidaat worden?

div#interesse
   a(href="interesse.html") Interesse in de Burgerlijst?

div#info-burgerlijst
   a(href="informatie_over_burgerlijst.html") Meer weten over Burgerlijst?

div#steun-burgerlijst
   a(href="steun_burgerlijst.html") Steun de Burgerlijst

div#kalender
   a(href="kalender.html") Kalender


