---
layout: default
title: Homepagina
---

div.col-sm-12.col-md
   div.regular#info-kandituur
      h2
         a(href="informatie_over_kandidaat_worden.html") Meer weten over kandidaat worden?

div.col-sm-12.col-md
   div.highlight.slogan#interesse
      h2
         a(href="interesse.html") Interesse in de Burgerlijst?

   div.regular#kalender
      a(href="kalender.html") Kalender

div.col-sm-12.col-md
   div.regular#info-burgerlijst
      h2
         a(href="informatie_over_burgerlijst.html") Meer weten over Burgerlijst?

   div.regular#steun-burgerlijst
      h2
         a(href="steun_burgerlijst.html") Steun de Burgerlijst




