---
layout: default
title: Homepagina
---

div.col-sm-12.col-md
   // div.regular#info-kandituur
      h2
         a(href="/informatie_over_kandidaat_worden.html") Meer weten over kandidaat worden?

div.col-sm-12.col-md
   // div.highlight.slogan#interesse
      h2
         a(href="/interesse.html") Interesse om kandidaat te worden?

   div.regular#kalender
      h2
         a(href="/kalender.html") Kalender
      ul
         | {% assign events = site.events | sort: "date" | where: "published",true %}
         | {% for event in events %}
         li
            h4
               a(href="{{ event.url }}") {{ event.title }}
            | {{ event.date | date: "%d %b - %H:%M" }}
            | {% if event.address %}
            br
            | @ 
            a(href="{{ event.address }}") {{ event.location }}
            | {% endif %}
            | {% if event.registration %}
            br
            a(href="{{ event.registration }}") REGISTREER
            | {% endif %}
         | {% endfor %}

div.col-sm-12.col-md
   div.regular#info-burgerlijst
      h2
         a(href="/informatie_over_burgerlijst.html") Meer weten over Burgerlijst?

   div.regular#steun-burgerlijst
      h2
         a(href="/steun_burgerlijst.html") Steun de Burgerlijst




