---
layout: default
title: Homepagina
---

div.col-sm-12.col-md
   div.regular#info-kandituur
      h2
         a(href="/informatie_over_kandidaat_worden.html") Meer weten over kandidaat worden?

div.col-sm-12.col-md
   div.highlight.slogan#interesse
      h2
         a(href="/interesse.html") Interesse om kandidaat te worden?

   div.regular#kalender
      h2
         a(href="/kalender.html") Kalender
      ul
         li
            a(href="https://docs.google.com/forms/d/e/1FAIpQLSf9wInJrajcr0iQGIYlmvvbmhmFB5fVTNLvi3bTqcAf30-6AQ/viewform") Donderdag 18/1/2018: Burgercafé

div.col-sm-12.col-md
   div.regular#info-burgerlijst
      h2
         a(href="/informatie_over_burgerlijst.html") Meer weten over Burgerlijst?

   div.regular#steun-burgerlijst
      h2
         a(href="/steun_burgerlijst.html") Steun de Burgerlijst




