@font-face {
   font-family: 'NyahNyah';
   src: url('/assets/font/NyahNyah.eot');
   src: local('☺'), url('/assets/font/NyahNyah.woff') format('woff'), url('/assets/font/fonts/NyahNyah.ttf') format('truetype'), url('/assets/font/NyahNyah.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}

$custom-font-size: 20px;
$footer-height: 265px;
$headings-font-family: 'NyahNyah';
