---
---

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

@include media-breakpoint-up(sm) {
  #wrapper {
      margin-top: 60px;
   } 
}

img#logo {
   width: 100%;
}

div.regular, div.highlight, div.inverted {
   padding: 30px;
   margin-bottom: 30px;  
}

div.regular {
   border: 1px solid black;
   a {
      color: black;
   }
}

div.highlight {
   background-color: $pink;
   color: white;
   a {
      color: white;
   }
}
html {
   position: relative;
   min-height: 100%;
}

body {
   margin-bottom: $footer-height;
}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: $footer-height;
   background-color: #222;
   color: white;
   padding-top: 60px; 
   a, a:hover {
      color: white;
   }
   ul {
     list-style-type: none; 
   }
   path {
      fill: white;
   }  
}

#menu {
   .social-icons {
      ul {
         list-style-type: none;
         padding-left: 0;
         li {
            display: inline;
         }
      }
   }
}
