---
---

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

@include media-breakpoint-up(sm) {
  #wrapper {
      margin-top: 60px;
   } 
}

img#logo {
   width: 100%;
}

.regular, .highlight, .inverted {
   padding: 30px;
   margin-bottom: 30px;  
}

.regular {
   border: 1px solid black;
   a {
      color: black;
   }
   > ul {
      padding: 0;
      list-style: none;
      a {
         text-decoration: underline;
      }
      li {
         padding-bottom: 1em;
      }
      h4 {
         line-height: 1;
      }
   }
}

.highlight {
   background-color: $pink;
   color: white;
   a {
      color: white;
   }
}

.slogan {
   h1, h2, h3 {
      transform: skew(-6deg) rotate(-6deg);
   }
}

.inverted {
  background-color: black;
  color: white;
  a {
    color: white;
  }
}

.portrait {
  h1, h2, h3 {
    color: white;
    z-index: 100;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    bottom: 30px;
  }
  margin-bottom: 30px;
}

html {
   position: relative;
   min-height: 100%;
}

body {
   margin-bottom: $footer-height;
}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: $footer-height;
   background-color: #222;
   color: white;
   padding-top: 60px; 
   a, a:hover {
      color: white;
   }
   ul {
     list-style-type: none; 
   }
   path {
      fill: white;
   }  
}

#menu {
   .social-icons {
      ul {
         list-style-type: none;
         padding-left: 0;
         li {
            display: inline;
         }
      }
   }
}
#page {
   a {
      text-decoration: underline;
   }
}

/* Form layout */
form label {
   font-weight: 600;
}
form label > input {
   padding-left: 1em;
}
form p > input {
   width: 100%;
}

/* Navigation */
.nav-item {
   font-family: $headings-font-family;
   font-weight: 300;
   a {
      color: black;
   }
   a:hover {
      text-decoration: underline;
   }
   .nav-link {
      padding: 0;
   }
}
