<!DOCTYPE html>
<html lang="nl">

{% include sections/head.html %}

<body>
  <div class="container" id="wrapper">
    <div class="row">
      <div class="col-sm-12 col-md-3" id="menu">
        {% include sections/menu.html %}
      </div>
      <div class="col-sm-12 col-md-9 regular" id="page">

        <header class="post-header">
          <h1 class="post-title">
            {% if page.name %}{{ page.name }}{% endif %}
          </h1>
        </header>

        <article class="post-content">
          {% if page.content %}
          {{ page.content | md }}
          {% else %}
          {{ content | md }}
          {% endif %}
        </article>

      </div>
    </div>
  </div>

  {% include sections/footer.html %}

</body>

</html>