<!DOCTYPE html>
<html lang="nl">

{% include sections/head.html %}

<body>
  <div class="container" id="wrapper">
    <div class="row">
      <div class="col">
        <a href="/" alt="Homepagina">
          <img src="/assets/img/logo.svg" alt="Logo Burgerlijst" width="150px" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-12 col-sm-12">
        {{ list.content | md }}
      </div>
    </div>
  </div>

  {% include sections/footer.html %}

</body>

</html>